<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header [hidden]="deviceList.length > 0">
    Cart is Empty
  </ion-list-header>
  <ion-list [hidden]="deviceList.length === 0">
    <ion-item *ngFor="let device of deviceList">
      <div slot="start"></div>
      <ion-label>
        <h2>
          {{ device.productName }}
        </h2>
      </ion-label>
      <ion-label slot="end">
        {{device.price}}
      </ion-label>
      <ion-button (click)="removeFromCart(device.id)" slot="end">
        <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-item color="primary" [hidden]="deviceList.length === 0">
    <ion-label>
      <h4> Total</h4>

    </ion-label>
    <ion-label>
      <h4>{{getTotal()}}</h4>
    </ion-label>

  </ion-item>
</ion-content>